body {
    padding: 0 30px 30px; 
}

#hideAll {
    position: fixed;
    left: 0px; 
    right: 0px; 
    top: 0px; 
    bottom: 0px; 
    background-color: white;
    z-index: 99; /* Higher than anything else in the document */

    h1 {
        position: relative;
        top: 35%;
        padding-top: 15px;
        vertical-align: middle;
        text-align: center;
        font-size: 50px;
        font-family: "Oswald";
        font-variant: small-caps;
        font-weight: bold;
        color: #996666;
        box-shadow: none;
        transition: box-shadow 200ms linear;
    }

    .loadGif {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h1.scrolled {
        box-shadow: 0 5px 8px -2px #996666;
        transition: box-shadow 200ms linear;
    }
}

.sessionBody {
    padding: 25px;
}

#allSessions {
    margin-top: 5%;
}

[id^="map"] {
    height: 215px;
}

#h1.scrolled {
    box-shadow: 0 4px 2px -2px gray;
}
